{{ if .Site.Data.homepage.education.enable }}
<section class="section section--border-bottom rad-animation-group">
    <div class="container">
        <div class="row rad-fade-down">
            <div class="col-12">
                <h2>{{ .Site.Data.homepage.education.title | safeHTML }}</h2>
                <div class="row pt-2 pt-md-4">
                    {{ range .Site.Data.homepage.education.items }}
                    <div class="col-6 mb-4"> <!-- Adjusted to col-6 to display side by side -->
                        <div class="education">
                            <div class="education__date" style="font-size: 1.1rem">{{ .year | safeHTML }}</div> <!-- Adjusted font size -->
                            <div class="education__title">
                                <h4>{{ .university | safeHTML }}</h4>
                                <h3 class="education__subheading" style="font-size: 1.2rem">{{ .degree | safeHTML }}</h3> <!-- Adjusted font size -->
                            </div>
                            <div class="education__degree education__details" style="font-size: 1.1rem"> <!-- Adjusted font size -->
                                <strong>{{ .subheading | safeHTML }}</strong> <br> {{ .details | safeHTML}}
                            </div>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
